body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  background-image: url("./assets/bg.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: chartreuse;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  /*background-color: #555;*/
}
.title{
  background-color: #777;
}
.dancer{
 /* border:10px solid red;
  border-radius:10px;*/
  font: 2em monospace;
  color: rgba(0, 255, 0, 1);
  position:absolute;
}

.falling{
  color: rgba(120, 255, 0, .15);
  text-shadow: 0em 0.5em 0em rgba(100, 255, 0, .3), 0em 1em 0em rgba(80, 255, 0, .45), 0em 1.5em 0em rgba(60, 255, 0, .6), 0em 2em 0em rgba(40, 255, 0, .75), 0em 2.5em 0em rgba(20, 255, 0, .9) , 0em 3em 0em rgba(0, 255, 0, 1);
}

.growing{
  opacity: .5;
}

.blinky{

}

.sharknado{
  color: rgba(0, 255, 0, 1);
  opacity: 1;
}
